body {
	margin: 0;
	font-family: 'Roboto';
}

a {
	color: #000;
}

h1 {
	text-align: center;
	color: #7a0c7c;
}

.infos {
	width: 80%;
	margin: 10px auto;
	padding: 10px;
}

.highlight {
	color: #7a0c7c;
	font-weight: 600;
}

.input-tip {
	color: #7a0c7c;
	font-style: italic;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted #7a0c7c;
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 140px;
	background-color: #5b085cd5;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -75px;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}
